## 8-1. 클래스의 기본

### 객체<br> 
: 여러가지 속성을 가질 수 있는 모든 대상 
* 객체 지향 프로그래밍 언어 : 객체를 기반으로 프로그램을 만드는 프로그래밍 언어
    - C를 제외한 모든 프로그래밍 언어
* 클래스 기반의 객체 지향 프로그래밍 언어는 '클래스'를 기반으로 '객체'를 만듬

### 추상화<br>
: 복잡한 자료, 모듈, 시스템 등으로 부터 핵심저깅ㄴ 개념 또는 기능을 간추려 내는 것

In [3]:
#객체 만들기

#학생 리스트 선언
students = [
    {"name" : "윤인성", "korean":87, "math":98, "english": 88, "science" : 95},
    {"name" : "연하진", "korean":92, "math":98, "english": 96, "science" : 98},
    {"name" : "구지연", "korean":76, "math":96, "english": 94, "science" : 90},
    {"name" : "나선주", "korean":98, "math":92, "english": 96, "science" : 92},
    {"name" : "윤아린", "korean":95, "math":98, "english": 98, "science" : 98},
    {"name" : "윤영월", "korean":64, "math":8, "english": 92, "science" : 92},
]

#학생을 한 명씩 반복
print("이름","총점","평균",sep="\t")
for student in students:
    #점수의 총합과 평균
    score_sum = student["korean"] + student["math"] +\
        student["english"] + student["science"]

    score_average = score_sum / 4
    #출력
    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤영월	256	64.0

In [4]:
#객체를 만드는 함수

#딕셔너리를 리턴하는 함수 선언
def create_student(name, korean, math, english, science):
    return {
        "name":name,
        "korean":korean,
        "math" :math,
        "english":english,
        "science": science
    }

#학생리스트 선언
students = [ 
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("윤영월", 64, 88, 92, 92)
]

#학생을 한 명씩 반복
print("이름","총점","평균",sep="\t")
for student in students:
    #점수의 총합과 평균
    score_sum = student["korean"] + student["math"] +\
        student["english"] + student["science"]

    score_average = score_sum / 4
    #출력
    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤영월	336	84.0

In [10]:
#객체처리함수 2

#딕셔너리를 리턴하는 함수 선언
def create_student(name, korean, math, english, science):
    return {
        "name":name,
        "korean":korean,
        "math" :math,
        "english":english,
        "science": science}

#학생처리 함수 선언
def student_get_sum(student):
    return student["korean"] + student["math"] +\
        student["english"] + student["science"]

def student_get_average(student):
    return student_get_sum(student) / 4

def student_to_string(student):
    return "{}\t{}\t{}".format(
        student["name"],
        student_get_sum(student),
        student_get_average(student))

#학생리스트 선언
students = [ 
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98, 98, 98),
    create_student("윤영월", 64, 88, 92, 92)
]

#학생을 한 명씩 반복
print("이름","총점","평균",sep="\t")
for student in students:

    #출력
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤영월	336	84.0

###클래스<br>
: 객체를 쉽고 편리하게 생성하기 위해 만들어진 구문

* 클래스 선언<br>
class 클래스 이름:<br>
    클래스 내용:

###생성자<br>
: 클래스 이름과 같은 인스턴스를 생성할 때 사용하는 함수<br>
: 인스턴스 이름(변수이름) = 클래스 이름() -- 생성자 함수<br>

* 인스턴스<br>
: 클래스를 기반으로 생성한 객체

In [13]:
#클래스 선언
class Student:
    pass

#학생선언
student = Student()

#학생 리스트 선언
students = [
    Student(),
    Student(),
    Student(),
    Student(),
    Student(),
    Student()
]

### 생성자<br>
: 클래스 이름과 같은 인스턴스를 생성할 때 사용하는 함수<br>
: 인스턴스 이름(변수이름) = 클래스 이름() -- 생성자 함수<br>
* 클래스 내부에 __init__라는 함수 만들면 객체 생성시 처리할 내용 작성 가능<br>
class 클래스 이름:<br>
&emsp;def __init__(self, 추가적인 매개변수):<br>
&emsp;&emsp; pass<br>

* 클래스 내부의 함수 : 첫 번째 매개변수로 반드시 self입력
* self가 가지고 있는 속성과 기능접근 : self.<식별자>

In [15]:
#클래스 선언
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

#학생리스트 선언
students = [ 
    Student("윤인성", 87, 98, 88, 95),
    Student("연하진", 92, 98, 96, 98),
    Student("구지연", 76, 96, 94, 90),
    Student("나선주", 98, 92, 96, 92),
    Student("윤아린", 95, 98, 98, 98),
    Student("윤영월", 64, 88, 92, 92)
]

#Student 인스턴스 속성에 접근
students[0].name
students[0].korean
students[0].math
students[0].english
students[0].science

95

* 소멸자 (destructor)<br>
:생성자와 반대로 인스턴스가 소멸될 때 호출되는 함수<br>
- __del__(self)형태로 함수 선언

In [ ]:
class Test:
    def __init__(self, name):
        self.name = name
        print("{} - 생성되었습니다.".format(self.name))
    def __del__(self):
        print("{} - 파괴되었습니다.".format(self.name))

test = Test("A")

#코드 실행시 생성자 호출 / 프로그램 종료 시 소멸자 호출

A - 생성되었습니다.

* 메소드<br>
: 클래스가 가진 함수<br>
class 클래스 이름:<br>
&emsp;def 메소드 이름(self, 추가적인 매개변수):
&emsp;&emsp;pass<br>

In [4]:
#클래스 선언
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

    def get_sum(self):
        return self.korean + self.math +\
            self.english + self.science
    
    def get_average(self):
        return self.get_sum() / 4

    def to_string(self):
        return "{}\t{}\t{}".format(\
            self.name,\
            self.get_sum(),\
            self.get_average())

In [5]:
    #학생리스트 선언
    students = [ 
        Student("윤인성", 87, 98, 88, 95),
        Student("연하진", 92, 98, 96, 98),
        Student("구지연", 76, 96, 94, 90),
        Student("나선주", 98, 92, 96, 92),
        Student("윤아린", 95, 98, 98, 98),
        Student("윤영월", 64, 88, 92, 92)
    ]

In [7]:
    #학생을 한 명씩 반복
    print("이름","총점","평균",sep="\t")
    for student in students:

        #출력
        print(student.to_string())

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤영월	336	84.0